.pop_up {
    display: none ;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.pop_up.active {
    display: block;
}

.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body {
    margin: auto;
    width: 500px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding: 100px;
    position: relative;
}

.pop_up_body input:focus{
    outline: none;
}

.pop_up_button {
    background-color: black;
    width: 300px;
    padding: 15px;
    letter-spacing: 3px;
    color: white;
    border: none;
    font-weight: normal;
    margin: 20px auto 0px auto;
    cursor: pointer;
}

.pop_up_body input {
    display: block;
    margin: 20px auto 0px auto;
    width: 300px;
    height: 40px;
    padding: 20px;
    border: 2px solid black;
}

.pop_up_close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: large;
    cursor: pointer;
}