.main {
    margin-top: 150px;
}

.about__slogan {
    font-style: normal;
    font-size: 60px;
    line-height: 70px;
    color: #F96241;
    width: 550px;
}

.about__info {
    margin-top: 20px;
    width: 444px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
}

.main__info {
    display: flex;
    justify-content: space-between;
}

.info__button {
    margin-left: 40px;
}

.button {
    width: 270px;
    height: 50px;
    transition: 0.5s;
    margin-bottom: 30px;
    color: white;
    font-size: 17px;
}

.-blue {
    background-color: #4737FF;
    border: 2px solid #4737FF;
    margin-top: 50px;
    letter-spacing: 3px;
}

.-white {
    background-color: white;
    border: 2px solid #4737FF;
    color: #4737FF;
    letter-spacing: 3px;
}

.button:hover {
    transform: scale(1.1);
}

@media screen and ( max-width: 930px ){
    .main__info {
        display: block;
    }
    .info__button {

        margin: 0px;
    }
    .about__info {
        width: auto;
    }
}

@media screen and ( max-width: 767px ){
    .-blue {
        margin-bottom: 10px;
    }
    .about__slogan {
        width: auto;
    }
    .about__info {
        width: auto;
    }
    .-white {
        display: block;
    }
}

@media screen and ( max-width: 768px ) {
    .about__slogan {
        margin: 0 20px 0 20px;
        width: 500px;
    }
    .about__info {
        margin: 0 20px 0 20px;
    }
    .info__button {
        margin-left: 20px;
    }
    .main {
        margin-top: 50px;
    }
}

@media screen and ( max-width: 620px ) {
    .about__slogan {
        width: auto;
    }
}

