.header__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 34px;
    height: 20px;
}

.burger__item{
    background-color: black;
    height: 3px;
}

.burger__item.-t {
    width: 34px;
}

.burger__item.-mi {
    width: 34px;
}

.burger__item.-b {
    width: 34px;
}

@media screen and (max-width: 680px) {
    .header__burger {
        display: inline-flex;
    }
}