.main__cards {
    text-align: center;
    margin:  220px 0 100px 0;
}

.h2__workout {
    margin-bottom: 60px;
    font-size: 34px;
}

.cards__workout {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 300px;
    height: 500px;
    background-color: #dfdfdf96;
    margin-right: 20px;
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
}

.card__img {
    width: 450px;
    height: 270px;
}

.card__container {
    padding: 10px 20px 5px 20px;
}

.card__banner {
    ont-weight: 700;
    font-size: 25px;
    margin-bottom: 5px;
    color: #222222;
}

.cards__text {
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
}

.button__card {
    height: 50px;
    width: -webkit-fill-available;
    margin: 0 20px;
    border: 0px;
    border-radius: 5px;
    background-color: rgba(71, 55, 255, 0.34);
}

.-last {
    margin-right: 0px;
}

@media screen and ( max-width: 930px ) {
    .cards__workout {
        display: inline-block;
    }
    .card {
        margin: 0 0 20px 0;
        width: 400px;
    }
}
@media screen and ( max-width: 768px ){
    .main__cards {
        margin-top: 100px;
    }
}