.main__cards {
    text-align: center;
    margin:  240px 0 100px 0;
}

.h2__workout {
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
}

.cards__workout {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    text-decoration: none;
    width: 300px;
    border: solid 2px black;
    margin-right: 20px;
    text-align: left;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.card__img {
    font-size: 100px;
}

.card__container {
    padding: 10px 20px 5px 20px;
}

.card__banner {
    ont-weight: 700;
    font-size: 25px;
    margin-bottom: 5px;
    color: black;
}

.cards__text {
    line-height: 28px;
    text-decoration: none;
    color: black;
}

.button__card {
    color: white;
    height: 50px;
    width: -webkit-fill-available;
    margin: 20px 20px;
    border: solid 2px black;
    font-size: 22px;
    background-color: black;
    cursor: pointer;
}

.-last {
    margin-right: 0px;
}

@media screen and ( max-width: 930px ) {
    .cards__workout {
        display: grid;
    }
    .card {
        margin: 0 0 20px 0;
    }
}
@media screen and ( max-width: 768px ){
    .main__cards {
        margin-top: 100px;
    }
}