.week_trening {
    justify-content: space-between;
}

.trening {
    background-color: #222222;
    width:-webkit-fill-available;
    height: 200px;
    transition: 0.8s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}

.day {
    text-align: center;
    margin-bottom: 50px;
}

.start_week {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.end_week {
    display: flex;
    justify-content: space-around;
}

.trening:hover {
    transform: scale(1.03);
}

.-mg_top_week {
    margin-top: 100px;
}

.week_day {
    transform: rotate(-90deg);
    font-size: 17px;
    display: flex;
}

/* настройки для всего элемента с чекбоксом */
.checkbox {
    /* меняем внешний вид курсора */
    cursor: pointer;
    /* выравниваем элементы по центру */
    display: flex;
    align-items: center;
    margin-left: 10px ;
}

/* отдельные настройки для самого чекбокса */
.checkbox__input {
    /* устанавливаем абсолютное позиционирование */
    position: absolute;
    /* задаём высоту и ширину */
    width: 1.375em;
    height: 1.375em;
    border-radius: 0px;
    border: solid 2px black;
    /* делаем чекбокс непрозрачным, чтобы скрыть исходный элемент и заменить его потом нарисованным */
    opacity: 0;
    /* меняем внешний вид курсора */
    cursor: pointer;
}

/* настройки для SVG-иконки */
.checkbox__icon {
    /* размеры совпадают с размерами скрытого чекбокса */
    width: 1.375em;
    height: 1.375em;
    /* убираем ограничение по наименьшей ширине блока */
    flex-shrink: 0;
    /* разрешаем отображать содержимое за пределами блока */
    overflow: visible;
}

/* общие настройки для нового чекбокса и галочки */
.checkbox__icon .tick {
    /* рисовать будем всё отрезками по 20 пикселей */
    stroke-dasharray: 20px;
    /* но сместим следующие отрезки тоже на 20 пикселей, чтобы получить сплошные линии */
    stroke-dashoffset: 20px;
    /* это даст нам плавную анимацию отрисовки галочки */
    transition: stroke-dashoffset 0.2s ease-out;
}

/* настройки для подписи чекбокса */
.checkbox__label {
    /* добавляем отступ слева */
    margin-left: 0.5em;
}

.checkbox__input:checked + .checkbox__icon .tick {
    /* убираем смещение для отрезков, чтобы включить анимацию галочки */
    stroke-dashoffset: 0;
}

@media screen and ( max-width: 768px ){
    .week_day {
    transform: rotate(0deg);
    }
    .start_week {
        display: block;
        margin: 0px;
    }
    .trening {
        margin-bottom: 10px;
    }
    .-week_foot {
        margin-top: 150px;
    }
}