.-blue {
    color: #4737ff;
}

.-white {
    color: white;
}

.-orange {
    color: #F96241;
}

.-blue_bc {
    background-color: #4737ff;
}

.-orange_bc {
    background-color: #F96241;
}

.-white_bc {
    background-color: white;
}

.-Cblack{
    color: black;
}
